<header class="header">
  <div class="container">
    <div class="header__logo">
      <img src="assets/img/fashion/logo.png" alt="Fashion_logo" class="header__logo-img">
    </div>
    <div class="header__nav">
      <div *ngFor="let item of navList" class="header__nav-item {{item.isNew && 'header__nav-item-new'}}">
        {{item.label}}
        <div class="nav-item-new" *ngIf="item.isNew">
          New
        </div>
      </div>
    </div>
    <div class="header__search">
      <app-fashion-input type="Search"></app-fashion-input>
    </div>
    <div class="header__right-nav">
      <div class="right__nav-item cart__icon">
        <img src="assets/img/fashion/cart.svg" alt="fashion_cart">
        <div class="right__nav-current cart__icon-current">
          1
        </div>
      </div>
      <div class="right__nav-item wishlist__icon">
        <img src="assets/img/fashion/wishlist.svg" alt="fashion_wishlist">
        <div class="right__nav-current wishlist__icon-current">
          1
        </div>
      </div>
      <div class="right__nav-item user__icon">
        <img src="assets/img/fashion/user.svg" alt="fashion_user">
      </div>
    </div>
  </div>
</header>
