@import "../../../../assets/scss/variable";
.btn{
  border: none;
  background: $white-cl;
  border-radius: 1000px;
  cursor: pointer;
  &.color-green{
    background: $fashion-green;
    color: $white-cl;
  }
  &.size-l{
    padding: 24px 64px;
    font-size: 2rem;
    line-height: 22.98px;
  }
  &:hover{
    opacity: .8;
  }
}
