@import '../../../../assets/scss/variable';

.wrapper{
  &.Search{
    background: #e5e5e5;
    padding: 13px 16px;
    border-radius: 1000px;
    min-width: 292px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & input{
      font-size: 1.4rem;
      border: none;
      background: none;

      flex: 1;
    }
    & img{
      cursor: pointer;
    }
  }
}
