@import "../../../assets/scss/variable";
.loading{
  background: $black-cl;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  &__logo{
    color: $white-cl;
  }
  &-done{
    visibility: hidden;
  }
}

