.project-card {
    position: relative;
    margin: 10px 0;
    .wrapper {
        width: 400px;
        height: 400px;
        background: #fff;
        transition: .5s;

        .infomation {
            width: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 0;
            transition: .5s;

        }

        &:hover {
            background-color: #ccc;
            transition: .5s;

            .infomation {
                left: 55%;
                opacity: 1;
                transition: .5s;

            }
        }
    }
}