<section class="hero">
  <div class="container">
    <div class="hero__left">
      <app-fashion-content-block
        mainText="Explore Summer Collection"
        subText="TRENDING COLLECTION"
        color="green"
        btnSize="l"
        >
      </app-fashion-content-block>
    </div>
    <div class="hero__right">
      <div class="hero__right-bg">
        <img src="assets/img/fashion/hero-bg.png" alt="fashion__hero-bg">
      </div>
      <div class="hero__right-main">
        <img src="assets/img/fashion/hero.png" alt="fashion__hero-main">
      </div>
    </div>
  </div>
</section>
