@import "../../../../assets/scss/variable";

.ads{
  padding: 36px 0 85px 0;
  &__first{
    width: fit-content;
    margin: 0 auto;
  }
  &__row{
    display: grid;
    gap: 24px;
    &-half {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 26px;
    }
    &-full{
      grid-template-columns: 1fr;
    }
  }
}
