<section class="ads">
  <div class="container">
    <div class="ads__first">
      <img src="assets/img/fashion/ads.jpg" alt="fashion__ads">
    </div>
    <div class="ads__row ads__row-half">
      <app-fashion-ads-card
        color="blue"
        size="s"
        img="ads-1">
        <app-fashion-content-block
          [style]="'ads-card-small'"
          mainText="Collection For Girls"
          subText="Up To"
          subBText="40%"
          subText2="Off"
        ></app-fashion-content-block>
      </app-fashion-ads-card>
      <app-fashion-ads-card
        color="yl"
        size="s"
        img="ads-2">
        <app-fashion-content-block
          [style]="'ads-card-small'"
        ></app-fashion-content-block>
      </app-fashion-ads-card>
    </div>
    <div class="ads__row ads__row-full">
      <app-fashion-ads-card
      img="ads-3"
      bg="true"
      color="bg"
      size="l"
      >
        <app-fashion-content-block></app-fashion-content-block>
      </app-fashion-ads-card>
    </div>
  </div>
</section>
